html{
  font-family: Helvetica, sans-serif;
}

.heading{
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: khaki;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

h1{
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.Brushes h1{
  background-color: mediumspringgreen;
}

.Frames h1{
  background-color: lightcoral;
}

.Paint h1{
  background-color: skyblue;
}

.Blue{
  font-weight: bold;
  color: blue;
}
